<div class="page-header">
	<h1>Order</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>Order No.</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Total Price</th>
					<th>Production Start</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders" >
					<td>{{order.orderNo}}</td>
					<td>{{order.product.title}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.totalPrice}}</td>
					<td>{{order.productionStartDate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>