<div class="page-header">
	<h1>Production</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Order No.</th>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Production Start</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ORDER0001</td>
					<td>Laptop</td>
					<td>1</td>
					<td>today</td>
					<td>Waiting for Confirmation</td>
				</tr>
				<tr>
					<td>ORDER0001</td>
					<td>Laptop</td>
					<td>1</td>
					<td>today</td>
					<td>Waiting for Confirmation</td>
				</tr>
				<tr>
					<td>ORDER0001</td>
					<td>Laptop</td>
					<td>1</td>
					<td>today</td>
					<td>Waiting for Confirmation</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>