<div class="page-header">
	<h1>Production</h1>
</div>
<button class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#productionFormModal"></button>
<div class="row">
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<th>Order No.</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Production Start</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.orderNo}}</td>
					<td>{{order.product.title}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.productionStartDate | date}}</td>
					<td>{{order.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="productionFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" 
				   data-dismiss="modal">
					   <span aria-hidden="true">&times;</span>
					   <span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Production Schedule Form
				</h4>
			</div>
			<!-- Modal Body -->
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Product</label>
						<div class="col-sm-10">
							<select ng-model="production.order" >
								<option selected value="0"> SELECT PRODUCT </option>
								<option ng-repeat="order in orders" value="{{order}}">{{ order.orderNo }}</option>
							</select><br/><br/>
							<span ng-if="production.order">
								<input type="text" class="form-control" readonly ng-model="resolve(production.order).orderNo" readonly placeholder="Order No"/><br/>
								<input type="text" class="form-control" readonly ng-model="resolve(production.order).availability" readonly placeholder="Availability"/><br/>
								<input type="text" class="form-control" readonly ng-model="resolve(production.order).status" readonly placeholder="status"/><br/>
							</span>
						</div>
					</div>
					
					<div class="form-group" ng-if="production.order">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" ng-click="schedule()" class="btn btn-default">
								{{resolve(production.order).availability != 'AVAILABLE' ? 'REJECTED' : 'CONFIRMED'}}
							</button>
						</div>
					</div>
				</form>	
			</div>
			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
			</div>
		</div>
	</div>
</div>